[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "grove-lcd-pico"]
	path = grove-lcd-pico
	url = https://github.com/sampsapenna/grove-lcd-pico.git
